<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Eigen Digital enpowers businesses worflows through automated systems and digital architecture."
    />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,400;0,14..32,500;0,14..32,800;1,14..32,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="/src/scripts/pages/products/templates.ts"></script>
    <title>Templates - Eigen Digital</title>
  </head>
  <body>
    <header>
      <div class="header">
        <div class="header-container">
          <img
            width="28"
            height="28"
            style="object-fit: contain; object-position: center"
            src="/eigen-digital-mini.svg"
            alt="Eigen Digital logo"
          />
          <div class="navigation" role="navigation">
            <div class="nav-list" role="list">
              <span role="listitem" popovertarget="products-popover"
                >Products
                <svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M4.43057 8.51192C4.70013 8.19743 5.17361 8.161 5.4881 8.43057L12 14.0122L18.5119 8.43057C18.8264 8.16101 19.2999 8.19743 19.5694 8.51192C19.839 8.82642 19.8026 9.29989 19.4881 9.56946L12.4881 15.5695C12.2072 15.8102 11.7928 15.8102 11.5119 15.5695L4.51191 9.56946C4.19742 9.29989 4.161 8.82641 4.43057 8.51192Z"
                  />
                </svg>
                <div class="menu-popover" id="products-popover" popover="auto">
                  <a href="#" class="menu">
                    <div class="img-container">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true"
                      >
                        <path
                          d="M20 3H4C3.44772 3 3 3.44772 3 4V9C3 9.55228 3.44772 10 4 10H20C20.5523 10 21 9.55228 21 9V4C21 3.44772 20.5523 3 20 3Z"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M11 14H4C3.44772 14 3 14.4477 3 15V20C3 20.5523 3.44772 21 4 21H11C11.5523 21 12 20.5523 12 20V15C12 14.4477 11.5523 14 11 14Z"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M20 14H17C16.4477 14 16 14.4477 16 15V20C16 20.5523 16.4477 21 17 21H20C20.5523 21 21 20.5523 21 20V15C21 14.4477 20.5523 14 20 14Z"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                    <div class="description-container">
                      <span class="heading">Templates</span>
                      <span class="subheading"
                        >Ready-to-use templates for business and personal productivity</span
                      >
                    </div>
                  </a>
                </div>
              </span>
            </div>
          </div>
          <div class="cta-container">
            <a href="" aria-label="Talk to us" class="button primary">Contact us</a>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="title-container">
        <h1>Ready-to-Use Templates That Help You Work Smarter</h1>
        <p>
          Browse a curated collection of ready-to-use templates designed to help you organize,
          automate, and scale your work.
        </p>
      </div>
      <div class="templates-section-container">
        <div class="templates-section grid">
          <div class="template">
            <!-- todo: go the right template page link -->
            <a href="#" class="template-link" aria-hidden="true"></a>
            <div class="template-preview">
              <img src="/templates/job-application.png" alt="job application thumbnail">
            </div>
            <div class="description">
              <span class="heading">Job Application Tracker</span>
              <p class="subheading">Track applications, interviews, and follow-ups in one organized system.</p>
            </div>
            <!-- todo: gumroad or esty link -->
            <a href="" class="button">Get Template</a>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer">
        <div class="footer-container">
          <div class="company-section">
            <img
              width="100px"
              height="74.67px"
              src="/eigen-digital-full-logo-white.svg"
              alt="Eigen Digital logo"
            />
            <p class="description">
              Powering businesses through automated systems and digital architecture.
            </p>
            <div class="social-handles-section" role="list">
              <a
                role="listitem"
                href="https://www.linkedin.com/company/eigen-digital/"
                aria-label="Visit our LinkedIn page"
                target="_blank"
                rel="noopener"
                ><img
                  width="24"
                  height="24"
                  src="/linkedin-logo.svg"
                  alt="LinkedIn logo"
                  aria-hidden="true"
              /></a>
              <a
                role="listitem"
                href="https://www.instagram.com/eigendigital"
                aria-label="Check our Instagram page"
                target="_blank"
                rel="noopener"
                ><img
                  width="24"
                  height="24"
                  src="/instagram-logo.svg"
                  alt="Instagram logo"
                  aria-hidden="true"
              /></a>
              <a
                role="listitem"
                href="https://x.com/eigendigital"
                aria-label="Message us on X (formerly Twitter)"
                target="_blank"
                rel="noopener"
                ><img
                  width="24"
                  height="24"
                  src="/twitter-logo.svg"
                  alt="X logo"
                  aria-hidden="true"
              /></a>
              <a
                role="listitem"
                href="https://www.youtube.com/@EigenDigital"
                aria-label="Watch any of our YouTube videos"
                target="_blank"
                rel="noopener"
                ><img
                  width="24"
                  height="24"
                  src="/youtube-logo.svg"
                  alt="YouTube logo"
                  aria-hidden="true"
              /></a>
            </div>
          </div>
          <div class="nav-section" role="navigation">
            <div class="nav-list-container">
              <span class="nav-list-header">Products</span>
              <div class="nav-list" role="list">
                <a href="" role="listitem">Templates</a>
              </div>
            </div>
            <div class="nav-list-container">
              <span class="nav-list-header">Company</span>
              <div class="nav-list" role="list">
                <a href="" role="listitem">Contacts</a>
              </div>
            </div>
          </div>
          <hr />
          <div class="copyright-section">
            <span>&copy; </span><span id="current-year"></span> <span>Eigen Digital</span>.
            <span>All rights reserved.</span>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
