<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This page describes the terms and conditions regarding the Job Application Tracker template"
    />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,400;0,14..32,500;0,14..32,800;1,14..32,400&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="/src/scripts/pages/products/job-application-tracker/terms-and-conditions.ts"
    ></script>
    <title>Terms and Conditions - Job Application Tracker</title>
  </head>
  <body>
    <header></header>
    <main>
      <div>
        <h1>Terms and Conditions</h1>
        <div class="metadata-container">
          <span class="bold">Effective Date: </span
          ><span class="date-ordinal">15th June, 2026</span>
        </div>
        <div class="intro-container">
          <p>
            These Terms and Conditions govern your use of the
            <span class="bold">Job Application Tracker</span> provided by
            <span class="bold">Eigen Digital</span>.
          </p>
        </div>
        <div class="sections-container">
          <section>
            <h2>1. Acceptance of Terms</h2>
            <div>
              <p>
                By purchasing and downloading the Job Application Tracker template from Eigen
                Digital, you agree to these Terms and Conditions.
              </p>
            </div>
          </section>
          <section>
            <h2>2. Product Description</h2>
            <div>
              <p>
                The Job Application Tracker is a digital productivity tool designed to help users
                organize and monitor job applications, interviews, follow-ups, and related
                activities.
              </p>
            </div>
          </section>
          <section>
            <h2>3. Product Delivery</h2>
            <div>
              <p>
                Upon successful payment, you will receive a digital link to make a copy of the
                Google Sheets template to your own Google Drive. No physical product will be
                shipped. You need to for have a Google account to use the Product.
              </p>
            </div>
          </section>
          <section>
            <h2>4. Refunds and Returns</h2>
            <div>
              <p>
                Due to the digital and instantly accessible nature of this template, all sales are
                final. We <span class="bold">do not</span> offer refunds, returns, or exchanges once
                the digital file link has been accessed or downloaded.
              </p>
              <br />
              <p>
                If you experience technical issues accessing the file,
                <a
                  href="mailto:eigendigitalgh@gmail.com?subject=Refund%20and%20Return%20Support"
                  target="_blank"
                  rel="noopener"
                  >please contact us for support</a
                >.
              </p>
            </div>
          </section>
          <section>
            <h2>5. Intellectual Property</h2>
            <div>
              <p>
                The Product, including its design, formulas, layout, scripts, and architecture, is
                the intellectual property of Eigen Digital. Your purchase grants you a license to
                use the Product, not ownership of the Product's intellectual property.
              </p>
            </div>
          </section>
          <section>
            <h2>6. Limitation of Liability</h2>
            <div>
              <p>
                The Product is provided <span class="bold">"as is"</span> without any warranties,
                express or implied. Eigen Digital <span class="bold">is not</span> liable for any
                lost data, missed job opportunities, or damages arising from the use or inability to
                use the template.
              </p>
            </div>
          </section>
          <section>
            <h2>7. Contact Us</h2>
            <div>
              <p>
                If you have any questions about these Terms and Conditions,
                <a
                  target="_blank"
                  rel="noopener"
                  href="mailto:eigendigitalgh@gmail.com?subject=Terms%20and%20Conditions%20Enquiry"
                  >please contact us</a
                >.
              </p>
            </div>
          </section>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer">
        <div class="footer-container">
          <div class="company-section">
            <img width="25" height="17.14" src="/eigen-digital-mini.svg" alt="Eigen Digital logo" />
          </div>
          <div class="copyright-section">
            <span>&copy; </span><span id="current-year"></span> <span>Eigen Digital</span>.
            <span>All rights reserved.</span>
          </div>
          <div class="legal-docs-section">
            <a href="">Privacy Policy</a>
            <a href="">EULA</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
