@keyframes zoomAndSlide {
  0% {
    transform: translateX(0) translateY(0) scale(1);
  }

  10% {
    transform: translateX(0) translateY(-50%) scale(2.5);
  }

  20% {
    transform: translateX(0) translateY(-50%) scale(2.5);
  }

  30% {
    transform: translateX(-66%) translateY(-50%) scale(2.5);
  }

  40% {
    transform: translateX(-66%) translateY(-50%) scale(2.5);
  }

  50% {
    transform: translateX(-120%) translateY(-50%) scale(2.5);
  }

  60% {
    transform: translateX(-120%) translateY(-50%) scale(2.5);
  }

  70% {
    transform: translateX(-160%) translateY(-50%) scale(2.5);
  }

  80% {
    transform: translateX(-160%) translateY(-50%) scale(2.5);
  }

  90% {
    transform: translateX(0) translateY(0) scale(1);
  }

  100% {
    transform: translateX(0) translateY(0) scale(1);
  }
}
