@layer page {
  body {
    font-family: var(--primary-font-family);
    font-optical-sizing: auto;
    margin: 0;

    background-color: var(--neutral-950);
    --web-width: clamp(200px, 90vw, 1100px);
  }

  footer {
    background-color: var(--neutral-950);
    font-size: 0.75em;
  }

  footer > div {
    padding-block: 20px;
    width: var(--web-width);
    margin-inline: auto;

    color: var(--neutral-400);
  }

  .legal-docs-section {
    margin-left: auto;

    display: flex;
    gap: 25px;
    flex-wrap: nowrap;

    a:hover {
      color: var(--neutral-100);
    }
  }

  h1 {
    font-family: var(--secondary-font-family);
    font-weight: 500;
    font-size: clamp(2rem, 5vw, 3rem);
    text-align: center;
    line-height: 1.1;
    max-width: 20ch;
    margin-inline: auto;
    color: var(--neutral-100);
  }

  h2 {
    font-family: var(--secondary-font-family);
    font-size: clamp(1.8rem, 5vw, 2.8rem);
    max-width: 15ch;
    font-weight: 500;
    color: var(--neutral-100);
  }

  h3 {
    font-family: var(--secondary-font-family);
    color: var(--neutral-100);
    font-weight: 500;
  }

  .hero-section-container {
    padding-top: 140px;
    padding-bottom: 70px;
    background-image: linear-gradient(transparent 50%, purple, rgb(48, 48, 255));
  }

  .hero-section {
    text-align: center;
    width: var(--web-width);
    margin-inline: auto;

    p {
      font-size: clamp(0.875rem, 3vw, 1rem);
      max-width: 60ch;
      margin-inline: auto;
      margin-block-start: 5px;
      color: var(--neutral-400);
    }
  }

  .faq-section-container {
    container-type: inline-size;
    container-name: faq-section;
  }

  .faq-section {
    width: var(--web-width);
    margin-inline: auto;
    padding-bottom: 80px;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 50px;
  }

  .faq {
    &:not(:first-of-type) {
      border-top: 1px solid var(--neutral-800);
    }

    summary:hover {
      color: rgb(159, 159, 255);
      cursor: pointer;

      &::before {
        color: inherit;
      }
    }

    p {
      font-size: clamp(0.875rem, 5vw, 0.925rem);
      color: var(--neutral-300);
      max-width: 55ch;
    }
  }

  summary {
    font-size: clamp(0.875rem, 5vw, 0.925rem);
    padding-block: 15px;
    list-style: none;
    line-height: 1.2;
    color: var(--neutral-100);

    &::before {
      content: "+";
      font-size: 1.2em;
      color: var(--neutral-400);
      margin-right: 8px;
    }
  }

  details[open] summary::before {
    content: "\00d7";
  }

  details > div {
    padding-block-end: 15px;
  }

  .demo-section {
    aspect-ratio: 16 / 9;
    margin-block-start: 40px;
    background-color: black;
    border: 1px solid var(--neutral-900);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.504);
    border-radius: 1em;
  }

  .cta-section {
    margin-block-start: 30px;
    display: flex;
    justify-content: center;
  }

  .feature {
    --n: 2;

    h3 {
      font-size: clamp(1.2rem, 4vw, 2rem);
      color: var(--neutral-200);
    }

    p {
      font-size: clamp(0.875rem, 5vw, 1rem);
      color: var(--neutral-400);
      margin-block-start: 10px;
      max-width: 45ch;
    }

    section {
      padding: clamp(20px, 7vw, 50px);
    }
  }

  @container grid style(--n: 2) {
    .grid.left > :nth-child(1) {
      border-right: none;
      border-left: var(--border);
    }
  }

  .right {
    grid-template-columns: 1fr minmax(200px, 40%);

    section {
      order: 1;
    }

    .feature-preview {
      order: 2;
    }
  }

  .left {
    grid-template-columns: minmax(200px, 40%) 1fr;

    section {
      order: 2;
    }

    .feature-preview {
      order: 1;
    }
  }

  .feature-preview {
    width: 100%;
    aspect-ratio: 1 / 1;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: grid;
    align-items: center;
    justify-content: center;

    padding: 30px;
    overflow: hidden;

    svg, img {
      width: 100%;
    }

    .animate {
      animation-name: zoomAndSlide;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      animation-duration: 7s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
    }

  }

  .features-section-container {
    width: var(--web-width);
    margin-inline: auto;
    container-type: inline-size;
    container-name: features-section;
    padding-block: 100px 100px;
  }

  .features-section {
    margin-top: 30px;
  }

  .services-contact-container {
    container-type: inline-size;
    container-name: services-contact;
    width: var(--web-width);
    margin-inline: auto;
    padding-bottom: 80px;
  }

  .services-contact {
    margin-top: 30px;
  }

  @container services-contact (width <= 960px) {
    .grid {
      --n: 2;
    }
  }

  @container services-contact (width <= 560px) {
    .grid {
      --n: 1;
    }
  }

  .contact {
    padding: clamp(20px, 3vw, 40px);
    display: grid;
    grid-template-rows: auto auto 1fr;
    min-height: 150px;

    p {
      margin-block-start: 10px;
      color: var(--neutral-300);
    }

    h3 {
      font-size: clamp(1.1rem, 4vw, 1.25rem);
    }

    a {
      align-self: flex-end;
      margin-top: 40px;
      border-radius: 1000px;
    }
  }

  footer {
    border-top: 1px solid var(--neutral-800);
  }

  .footer {
    .footer-container {
      grid-template-columns: auto auto 1fr;
      column-gap: 10px;
      grid-template-areas: none;
    }
  }

  @container footer (width <= 650px) {
    .footer .footer-container {
      grid-template-columns: auto 1fr;
      row-gap: 10px;
    }

    .legal-docs-section {
      grid-column: span 2;
      margin-left: 0;
    }
  }

  @container faq-section (width <= 920px) {
    .faq-section {
      grid-template-columns: auto;
    }
  }

  @container features-section (width <= 600px) {
    .feature {
      grid-template-columns: auto;
    }

    section {
      order: 2 !important;
    }

    .feature-preview {
      order: 1 !important;
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    .legal-docs-section a,
    summary,
    summary::before {
      transition: color 200ms ease-in;
    }
  }
}

@keyframes zoomAndSlide {
  0% { transform: translateX(0) translateY(0) scale(1);  }
  
  10% { transform: translateX(0) translateY(-50%) scale(2.5);}

  20% { transform: translateX(0) translateY(-50%) scale(2.5);}

  30% { transform: translateX(-66%) translateY(-50%) scale(2.5);}

  40% { transform: translateX(-66%) translateY(-50%) scale(2.5);}

  50% { transform: translateX(-120%) translateY(-50%) scale(2.5);}

  60% { transform: translateX(-120%) translateY(-50%) scale(2.5);}

  70% { transform: translateX(-160%) translateY(-50%) scale(2.5);}

  80% { transform: translateX(-160%) translateY(-50%) scale(2.5);}

  90% { transform: translateX(0) translateY(0) scale(1); }
  
  100% { transform: translateX(0) translateY(0) scale(1); }
}
