body {
  font-family: var(--primary-font-family);
  font-optical-sizing: auto;
  margin: 0;

  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  --web-width: clamp(200px, 85vw, 1100px);
}

h1,
h2,
h3 {
  font-family: var(--secondary-font-family);
  font-weight: 500;
  color: var(--neutral-100);
}


main {
  background-color: var(--neutral-950);
  padding-top: 120px;
  padding-bottom: 40px;
}

.title-container {
  width: var(--web-width);
  margin-inline: auto;

  h1 {
    font-size: clamp(2rem, 5vw, 2.8rem);
    max-width: 25ch;
  }
  
  p {
    color: var(--neutral-300);
    font-size: clamp(0.925rem, 4vw, 1rem);
    max-width: 50ch;

    margin-block-start: 10px;
  }
}

.grid {
  --n: 1;

  max-width: 350px;
}

.templates-section-container {
  margin-top: 60px;
  margin-inline: auto;
  width: var(--web-width);
}

.template {
  position: relative;

  .description {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: clamp(20px, 4vw, 30px);
  }

  .heading {
    color: var(--neutral-100);
    font-size: 1.2rem;
    font-family: var(--secondary-font-family);
    font-weight: 500;
  }

  .subheading {
    color: var(--neutral-300);
  }

  a.button {
    position: relative;
    padding: 10px;
    color: var(--neutral-200);
    text-align: center;
    width: 100%;
    border-radius: 0;
    border-top: 1px solid var(--neutral-800);
    z-index: 100;

    margin-top: 20px;

    &:hover {
      color: var(--neutral-000);
    }
  }

  .template-link {
    position: absolute;
    inset: 0;
  }
}

.template-preview {
  width: 100%;
  aspect-ratio: 1 / 1;

  img {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}
